<%- include('partials/head') %>
<%- include('partials/navbar') %>

  <h1>
    The Home Page
    <%= '--- hello hello again'.toUpperCase() %> 
  </h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quidem mollitia iusto itaque consectetur molestiae consequatur ullam, aperiam optio minus esse magnam molestias officiis! Quo error blanditiis repudiandae quas consequuntur?</p>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum tempora nisi placeat itaque saepe nobis delectus doloribus fugiat iste aliquam exercitationem, accusantium nihil praesentium laudantium labore odio dolorem, voluptatem aperiam.</p>
</body>
</html>