<h1>
  {{title}}
</h1>
<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum tempora nisi placeat itaque saepe nobis delectus doloribus fugiat iste aliquam exercitationem, accusantium nihil praesentium laudantium labore odio dolorem, voluptatem aperiam.
</p>
<ul>
  {{#each posts}}
    <li>
      {{this.title}}
    </li>
  {{/each}}
</ul>